@use '../mastodon/functions' as *;

// Dependent colors
$black: #000;

$classic-base-color: hsl(300deg, 33%, 13%);         // Dark Purple
$classic-primary-color: hsl(300deg, 34%, 72%);      // Light Pink
$classic-secondary-color: hsl(207deg, 97%, 70%);    // Light Blue
$classic-highlight-color: hsl(207deg, 97%, 70%);    // Light Blue

$ui-base-color: $classic-base-color !default;
$ui-primary-color: $classic-primary-color !default;
$ui-secondary-color: $classic-secondary-color !default;
$ui-highlight-color: $classic-highlight-color !default;

@use '../mastodon/variables' with (
  $darker-text-color: lighten($ui-primary-color, 20%),
  $dark-text-color: lighten($ui-primary-color, 12%),
  $secondary-text-color: lighten($ui-secondary-color, 6%),
  $highlight-text-color: lighten($ui-highlight-color, 10%),
  $action-button-color: lighten($ui-base-color, 50%),
  $inverted-text-color: $black,
  $lighter-text-color: darken($ui-base-color, 6%),
  $light-text-color: $classic-primary-color
);
